<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MattC.DockableCLArgs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MattC.DockableCLArgs.Properties.Settings>
            <setting name="OptionColorDark" serializeAs="String">
                <value>145, 200, 96</value>
            </setting>
            <setting name="DigitColorDark" serializeAs="String">
                <value>255, 205, 34</value>
            </setting>
            <setting name="SubOptionColorDark" serializeAs="String">
                <value>146, 202, 244</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OptionColorLight" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DigitColorLight" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="SubOptionColorLight" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="ArgumentColorDark" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ArgumentColorLight" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 10pt</value>
            </setting>
            <setting name="StringColorLight" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="StringColorDark" serializeAs="String">
                <value>236, 118, 0</value>
            </setting>
        </MattC.DockableCLArgs.Properties.Settings>
    </userSettings>
</configuration>