<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MattC.DockableCLArgs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImaginationTechnologies.DockableCLArgs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MattC.DockableCLArgs.Properties.Settings>
            <setting name="OptionColorDark" serializeAs="String">
                <value>100, 140, 175</value>
            </setting>
            <setting name="DigitColorDark" serializeAs="String">
                <value>255, 205, 34</value>
            </setting>
            <setting name="SubOptionColorDark" serializeAs="String">
                <value>146, 202, 244</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OptionColorLight" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DigitColorLight" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="SubOptionColorLight" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="ArgumentColorDark" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ArgumentColorLight" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HistoryItems" serializeAs="String">
                <value />
            </setting>
        </MattC.DockableCLArgs.Properties.Settings>
        <ImaginationTechnologies.DockableCLArgs.Properties.Settings>
            <setting name="OptionColorDark" serializeAs="String">
                <value>100, 140, 175</value>
            </setting>
            <setting name="DigitColorDark" serializeAs="String">
                <value>255, 205, 34</value>
            </setting>
            <setting name="SubOptionColorDark" serializeAs="String">
                <value>146, 202, 244</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OptionColorLight" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DigitColorLight" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="SubOptionColorLight" serializeAs="String">
                <value>Purple</value>
            </setting>
        </ImaginationTechnologies.DockableCLArgs.Properties.Settings>
    </userSettings>
</configuration>